{% load customfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Filters</h1></center>

    <h1>{{data}}</h1>
    <h2>{{data | lower }}</h2>
    <h2>{{data | upper }}</h2>
    <h2>{{data | capfirst }}</h2>
    <h2>{{data | title }}</h2>    
    <h2>{{data | length }}</h2>
    <h2>{{data | truncatewords:'1' }}</h2>
    <h2>{{data | truncatechars:'3' }}</h2>
    <h2>{{data | slice:'3'}}</h2>
<h1>Custom Filters</h1>

<h2>{{data | low }}</h2>

<h2>{{data | swap }}</h2>

</body>
</html>